body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root,
.main-container {
  display: block;
  width: 100%;
  height: 100%;
}

.main-container {
  background-color: #fffafa;
  position: relative;
  z-index: 1;

  & h1,
  & h2,
  & h3,
  & h4,
  & p,
  & ul,
  & li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  & h1.title {
    margin: 0;
    padding: 10px 0 2px;
    display: block;
    font-size: 22px;
    color: #009BDE;
    border-bottom: 2px solid #009BDE;
    margin-bottom: 10px;
  }

  & h2.title {
    margin: 0;
    padding: 6px 0 2px;
    display: block;
    font-size: 18px;
    color: #000000;
    margin-bottom: 10px;
  }

  & .link {
    margin: 0;
    padding: 0;
    font-size: 14px;
    display: block;
    text-decoration: none;

    &:focus,
    &:hover,
    &.active {
      font-weight: 600;
    }
  }

  & .custom-option {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    width: 8px;
    overflow: hidden;

    &:hover {
      width: 130px;
    }

    &:hover .inner-box,
    &.active .inner-box {
      width: 130px;
    }

    & .inner-box {
      display: flex;
      flex-direction: column;
      transition: transform 0.6s ease-in-out;
      padding: 6px 0 6px 6px;
      height: 100%;
      width: 130px;
      background-color: #ffffff;
      border: 4px solid #009BDE;
      border-right: 0px;
      border-radius: 20px 0 0 20px;
      transform: translateX(3%);

      & .circle-picker {
        width: 100% !important;
      }
    }

    & .wardrobe-size,
    & .other {
      display: flex;
      height: 100%;

      & ul,
      & li {
        margin: 0;
        padding: 0;
        list-style: none;
      }

      & ul.sizes {
        font-family: Verdana;
        font-size: 16px;

        & li {
          padding: 2px 0;

          &:last-of-type {
            border-bottom: 0px;
          }

          & a {
            font-weight: 400;
            font-size: 12px;
            color: #009BDE;
            text-decoration: none;

            &:hover,
            &.active {
              font-weight: 600;
            }
          }
        }
      }
    }

    & .other ul.sizes {
      font-size: 14px;
    }
  }

  & .total-board {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 430px;
    overflow: hidden;

    & .inner-box {
      display: flex;
      flex-direction: column;
      transition: transform 0.6s ease-in-out;
      padding: 6px 0 6px 6px;
      height: calc(100vh - 20px);
      overflow-y: auto;
      width: 420px;
      background-color: #ffffff;
      border: 4px solid #009BDE;
      border-top: 0px;
      border-left: 0px;
      border-radius: 0 0 20px 0;
      transform: translateX(0%);

      & .circle-picker {
        width: 100% !important;
      }
    }
  }
}

.board-pieces {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  & li,
  & ul,
  & h1 {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &>li {
    display: block;
  }

  & ul {
    display: flex;
    flex-direction: column;

    & li {
      display: flex;
      flex-direction: row;
      font-size: 14px;
      margin-bottom: 6px;

      & div:first-of-type {
        width: 50%;
      }

      & div:last-of-type {
        width: 50%;
        min-height: 80px;
        border: 1px solid #009BDE;
      }

      & span {
        display: block;
      }

      & b {
        display: inline-block;
        min-width: 80px;
      }
    }
  }
}